# /etc/systemd/system/fastgeoip-server.socket
# Systemd socket file for socket activation

[Unit]
Description=FastGeoIp Socket
PartOf=fastgeoip.service

[Socket]
ListenStream=/var/run/uvicorn/uvicorn.sock
SocketUser=alex
SocketGroup=alex
SocketMode=0660

[Install]
WantedBy=sockets.target